/config/config.php
/config/config.json
/config/config.yaml
/config/config.yml
/log/error.log
/tests/.phpunit.result.cache
/tmp/file_*
/tmp/screenshot/*
!/tmp/screenshot/.gitkeep
/vendor/
/php*/vendor/
/.vscode/

# PHP-CS-Fixer cache
.php-cs-fixer.cache
# PHPUnit cache
.phpunit.result.cache
