/config/config.php
/config/config.json
/config/config.yaml
/config/config.yml
/environments/php*/vendor/
/log/error.log
/log/tests/*.log
/tests/.phpunit.result.cache
/tmp/file_*
/tmp/tests/file_*
/tmp/screenshot/*
!/tmp/screenshot/.gitkeep
/tmp/tests/screenshot/*
!/tmp/tests/screenshot/.gitkeep
/vendor/
/php*/vendor/
/.phpunit.result.cache
/.vscode/
/php_server.log
/.php-cs-fixer.cache
